<nav>
    <a href="/createteam">create team</a>
    <a href="/logout">logout</a>
    <a href="/teams">join team</a>
    <a href="/dashboard/<%= user._id %>">dashboard</a>
</nav>
<h2>join team: <%= user.name %> </h2>

<% let sortedTeamsByName = teamList.sort((a, b) => a.name.localeCompare(b.name)) %>

<a href="/dashboard/<%= user._id %>"><div>BACK</div></a>

<% sortedTeamsByName.forEach(team => { %>
    <div><%= team.name %><a href="/jointeam/<%= team.id %> ">JOIN</a> </div>
<% }); %> 