<h1><%= team.name %> dashboard</h1>
<h2><%= user.name %> loggedin</h2>

<a href="/updateTeam/<%= team._id %>">team settings</a>


<% if (user._id == team.admin) { %>
<form action="/createteamnews" method="post">
    title: <input type="text" name="title" id="title">
    <textarea name="text" placeholder="text" id="text" cols="30" rows="10"></textarea>
    important: <input type="checkbox" name="important" id="important">
    <input type="hidden" name="teamref" value="<%= team._id %>">
    <input type="submit" value="add news">
</form>
<% } %>


<% team.news.forEach(news => { %>
<section>
    <h3><%= news.title %></h3>
    <p><%= news.text %></p>
    <% if (user._id == team.admin) { %>
    <a href="/deletenews/<%= news._id %>">delete news</a>
    <% } %>
    <hr>
    <% console.log(news.important); %> 
</section>
<% }); %>